body{
    background-image: url(stars.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  h1{
      text-align: center;
      color: rgb(255, 255, 255);
      margin-top: 1em;
      font-size: 5rem;
      font-family: Oswald;
  }
  .intro{
      margin-top: 2em;
    position: absolute; 
    visibility: visible; 
    text-align: center;
    margin-left: 15em; 
    height: 190px; 
    width: 600px; 
    z-index: 200;
    font-size: 2rem;
    font-family: Comic Sans MS;
    color: rgb(0, 0, 0);
    margin-bottom: none;
}
  .start{
      margin-top: 1em;
      margin-left: 0em;
      padding: 1px 25px 1px 25px;
      border-radius: 25px;
      border: 2px solid rgb(247, 11, 11);
      background-color: rgb(247, 11, 11);
      font-size: 40px;
      color: rgb(250, 250, 250);
  }